{% extends 'base.html.twig' %}

{% block titre_page %}CLIENT {% endblock %}
{% block sous_titre_page %} Nouveau client {% endblock %}
{% block nouveau %}<a href="{{ path('clients_new') }}">Nouveau</a>{% endblock %}


 {% block contenuprincipal %}


    <div class="main-container">
        <div class="row">
            <div class="col-sm-12">
                {#Create new Clients#}

                {{ include('clients/_form.html.twig') }}

            </div>

        </div>
    </div>
{% endblock %}